{% extends "base.html" %}

{% block main %}
<h1>Trade Requests</h1>



    {% for listings in trade_requests %}
        <p><strong>Trade ID:</strong> {{ trade_requests[0][0] }}</p>
        <p><strong>Listing ID:</strong> {{ trade_requests[0][1] }}</p>
        <p><strong>User ID</strong> {{ trade_requests[0][2] }}</p>
        <p><strong>Status:</strong> {{ trade_requests[0][3] }}</p>
        {% if trade_requests[0][3] == 'pending' %}
          <form action="/approve_trade" method="post" style="display:inline;">
            <input type="hidden" name="trade_id" value="{{ trade_requests[0][0] }}">
            <button>Approve</button>
          </form>
          <form action="/reject_trade" method="post" style="display:inline;">
            <input type="hidden" name="trade_id" value="{{ trade_requests[0][0] }}">
            <button>Reject</button>
          </form>
            <br>
            <br>
            <br>
        {% else %}
          <p>No actions available</p>
        {% endif %}

    {% endfor %}


{% endblock %}
