{% block main %}

<div class="container">
        <h1>Listing Details</h1>

        {% if view_listings %}
            <div class="product-box">
                <div class="product-box-heading">
                    <h2>{{ view_listings[0] }}</h2>
                </div>

                <div class="product-box-image">
                    <img src="static/images/{{ view_listings[3] }}.jpg">
                </div>

                <div class="product-box-info">
                    <p><strong>Description:</strong> {{ view_listings[1] }}</p>
                    <p><strong>Price:</strong> ${{ view_listings[2] }}</p>
                    <p><strong>Seller:</strong> {{ view_listings[4] }}</p>
                </div>
            </div>
        </div>
        {% endif %}

{% endblock %}

